<!DOCTYPE html>
<html lang="en">
<head>
  <title>Faculties</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Faculty Details</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Postion</th>
      <th scope="col">Faculty ID</th>
      <th scope="col">Faculty Name</th>
      <th scope="col">Faculty email</th>
      <th scope="col">Faculty Designation</th>
      <th scope="col">Faculty Department</th>
      

    </tr>
  </thead>
  <tbody>


        <% for(var i=0; i < info.length; i++) { %>
            <tr>
                <td># <%= (i+1) %></td>
                <td><%= info[i].facid %></td>
                 <td><%= info[i].facname %></td>
                 <td><%= info[i].facemail %></td>
                 <td><%= info[i].facdesig %></td>
                 <td><%= info[i].facdep %></td>
            </tr>
        <% } %>


  </tbody>
</table>
  <br><br><a href="/">Back to home</a>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="container">
  
</div>

</body>
</html>
